<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disable-news</title>
    <link rel="stylesheet" th:href="@{/css/news.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<header class="main-header">
    <a href="/news_feed" class="main-header-logo"><img src="/img/Group%2012.png" alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <form th:action ="@{/news_feed}" method="get">
                <input type="text" class="main-header-search"  name="keyword" placeholder="Press Enter">
                <img src="/img/search-icon.svg" alt="Search Icon">
            </form>

        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username" th:text="${username}"></span>
            </div>
            <img class="main-header-user-icon" th:src="${imageAsBase64}" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><img src="/img/favourite-icon.svg" alt="Favourite Icon"><a th:href="@{/news_feed}" class="hidden-accordion-item-link">Main-page</a></li>
                    <li class="hidden-accordion-item"><img src="/img/log-out-icon.svg" alt="Log Out Icon"><a th:href="@{/login}" class="hidden-accordion-item-link">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section>

    <div class="add-search">
        <p class="details">Disable news from specific websites:</p>
        <label class="main-header-search-wrapper">
            <form th:action ="@{/disable_news}" method="get">
                <input type="text" class="main-header-search" name="site_name" placeholder="Press Enter">
                <img src="/img/search-icon.svg" alt="Search Icon">
            </form>
        </label>

    </div>

    <th:block th:with="colCount=${colCount}">
<!--      colCount=${5}  -->
    <div class="news-tabs" th:each="r : ${#numbers.sequence(0, allSites.size()-1,colCount)}">

        <div th:each="c : ${#numbers.sequence(0, colCount-1 )}"  class="single-tab"  >

            <img class="tab-picture " th:src="${allSites[c+r].getImageAsBase64()}">
            <p class="tab-title" th:text="${allSites[c+r].news_name}"></p>
            <p class="tab-description" th:text="${allSites[c+r].news_description}"></p>

            <div class="button-area">
                <form th:action="@{'/disable_news/'+${allSites[c+r].getNews_id()}}" method="post">
                    <button  th:id="${allSites[c+r].getNews_id()}"  type="submit"  th:value="${buttons[c+r]}" name="operation"  />
                    <p class="button-text" th:text="${buttons[c+r]}"></p>
                </form>
            </div>

        </div>

    </div>
    </th:block>


</section>

</body>
</html>