<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: news</title>

    <link rel="stylesheet" href="css/news.css">
</head>
<body>
<header class="main-header">
    <a href="/main-page.html" class="main-header-logo"><img src="/img/Group%2012.png" alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <input type="search" class="main-header-search" placeholder="Search">
            <img src="./img/search-icon.svg" alt="Search Icon">
        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username">Sample User</span>
            </div>

            <img class="main-header-user-icon" src="./img/user-icon-with-background.svg" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><img src="/img/favourite-icon.svg" alt="Favourite Icon"><a href="/disable-news.html" class="hidden-accordion-item-link">My News</a></li>
                    <li class="hidden-accordion-item"><img src="/img/log-out-icon.svg" alt="Log Out Icon"><a href="/index.html" class="hidden-accordion-item-link">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="add-search">
        <p class="details">Disable news from specific websites:</p>
        <label class="main-header-search-wrapper">
            <input type="search" class="main-header-search" placeholder="Search">

            <img src="/img/search-icon.svg" alt="Search Icon">
        </label>
    </div>
    <div class="news-tabs">
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
    </div>
    <div class="news-tabs">
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
        <div class="single-tab">

            <img class="tab-picture" src="img/1_6_fgYnisCa9V21mymySIvA%201.png">
            <p class="tab-title">MEDIUM</p>
            <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="button">
                <img class="icon" src="img/vec.png">
                <p class="button-text">Dissmiss this author</p>
            </div>
        </div>
    </div>

</section>

</body>
</html>