<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }

    </style>
</head>
<body>
<h1>My Thymeleaf Error Page</h1>
<table>

    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>

    <tr>
        <td>URL</td>
        <td th:text="${url}"/>
    </tr>
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>
    <tr>
        <td>HTTP Status</td>
        <td>
            <pre th:text="${status}"/>
        </td>
    </tr>
    <tr>
        <td>Click on icon to return to main page ---> </td>
        <td>
            <a href="/news_feed" class="main-header-logo"><img src="/img/Group%2012.png" alt="IBA Tech Academy"></a>
        </td>
    </tr>

</table>
</body>
</html>