<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="css/forgot-password.css">
</head>
<body>


<section class="reset-section">
    <header class="header">
        <a href="/registration" class="header-link"><img src="img/Group 12.png" alt="IBA Tech Academy"></a>
    </header>
    <!--    <img class="reset-section-image" src="/login-background.svg" alt="404">-->
    <div class="reset-section-container">
        <h1 class="reset-section-container-title">Reset Password!</h1>
        <p class="reset-section-container-description">We’ll e-mail you instruction on how to reset your password</p>
        <div class="panel-body">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully requested a new password reset!
                </div>
            </div>
            <form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post"
                  class="reset-section-container-form">
                <div class="reset-section-container-form-input-wrapper"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <img src="img/mail-icon.svg" alt="User Icon">
                    <label for="email"></label>
                    <input class="reset-section-container-form-input" id="email" placeholder="Email address"
                           type="email" th:field="*{email}"/>
                </div>
                <p class="error-message"
                   th:each="error : ${#fields.errors('email')}"
                   th:text="${error}">Validation error</p>
                <span class="go-back-text">Go back to <a href="/login" class="go-back-link">Login</a></span>
                <div class="reset-section-form-buttons">
                    <button type="submit" class="reset-section-container-form-login">Reset Password</button>
                    <a href="/registration" class="reset-section-container-form-signup">Create account</a>
                </div>

            </form>
        </div>
    </div>
</section>

</body>
</html>