<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: Main Page</title>
    <link rel="stylesheet" href="/css/main-page.css">
</head>
<body>

<header class="main-header">
    <a href="/main-page.html" class="main-header-logo"><img src="/img/Group%2012.png" alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <input type="search" class="main-header-search" placeholder="Search">
            <img src="/img/search-icon.svg" alt="Search Icon">
        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username">Sample User</span>
            </div>
            <img class="main-header-user-icon" src="/img/user-icon-with-background.svg" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><img src="/img/favourite-icon.svg" alt="Favourite Icon"><a href="/disable-news.html" class="hidden-accordion-item-link">My News</a></li>
                    <li class="hidden-accordion-item"><img src="/img/log-out-icon.svg" alt="Log Out Icon"><a href="/index.html" class="hidden-accordion-item-link">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="main-section">
    <div class="tab">
        <a class="tab-link-wrapper" href="/open-tab.html">
            <img class="tab-image" src="/img/Rectangle%2013.png" alt="404">
            <div class="tab-content">
                <p class="tab-title">Coronavirus pandemic: Tracking the global outbreak</p>
                <p class="tab-description">Coronavirus is continuing its spread across the world, with more than 8.5 million confirmed cases in 188 countries. More than 460,000 people have lost their lives.</p>
                <p class="tab-tags"><a class="tab-link">BBC</a>/News/World</p>
                <p class="tab-date">June 21/2020</p>
            </div>
        </a>
        <div>
            <img class="vector" src="/img/Vector.png">
        </div>
        <a class="vector-text">Share</a>
        <div class="tab-options">
            <img src="/img/Vector%20(1).png">
        </div>
    </div>
    <div class="tab">
        <a class="tab-link-wrapper" href="/open-tab.html">
            <img class="tab-image" src="/img/Rectangle%2015.png" alt="404">
            <div class="tab-content">
                <p class="tab-title">According to Steve Jobs, this one thing separates the doers from the dreamers</p>
                <p class="tab-description">When Steve Jobs was 12-years-old he wanted to build a frequency counter, but he was lacking some of the necessary parts to complete the project.
                    Instead of giving up, however, he did the only thing he could think of: he looked Bill Hewlett’s number up in the phonebook and he gave him a call.</p>
                <p class="tab-tags"><a class="tab-link">Medium</a>/News/World</p>
                <p class="tab-date">June 21/2020</p>
            </div>
        </a>
        <div>
            <img class="vector" src="/img/Vector.png">
        </div>
        <a class="vector-text">Share</a>
        <div class="tab-options">
            <img src="/img/Vector%20(1).png">
        </div>
    </div>
    <div class="tab">
        <a class="tab-link-wrapper" href="/open-tab.html">
            <img class="tab-image" src="/img/Rectangle%2017.png" alt="404">
            <div class="tab-content">
                <p class="tab-title">Coronavirus pandemic: Tracking the global outbreak</p>
                <p class="tab-description">Coronavirus is continuing its spread across the world, with more than 8.5 million confirmed cases in 188 countries. More than 460,000 people have lost their lives.</p>
                <p class="tab-tags"><a class="tab-link">BBC</a>/News/World</p>
                <p class="tab-date">June 21/2020</p>
            </div>
        </a>
        <div>
            <img class="vector" src="/img/Vector.png">
        </div>
        <a class="vector-text">Share</a>
        <div class="tab-options">
            <img src="/img/Vector%20(1).png">
        </div>
    </div>
</section>

</body>
</html>