<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

<header class="main-header">
    <a href="/main-page" class="main-header-logo"><img src="/img/Group%2012.png" alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <form th:action="@{/news_feed}" method="get">
                <input type="text" class="main-header-search" name="keyword" placeholder="Press Enter">
                <img src="/img/search-icon.svg" alt="Search Icon">
            </form>

        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username" th:text="${username}"></span>
            </div>
            <img class="main-header-user-icon" src="/img/user-icon-with-background.svg" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><img src="/img/favourite-icon.svg" alt="Favourite Icon"><a
                            th:href="@{/disable_news}" class="hidden-accordion-item-link">My News</a></li>
                    <li class="hidden-accordion-item"><img src="/img/log-out-icon.svg" alt="Log Out Icon"><a
                            th:href="@{/login}" class="hidden-accordion-item-link">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">

    <form th:action="@{/news_feed/(news_start=${news_start},news_finish=${news_finish} )}" method="get">
        <div class="row justify-content-center ">
            <div class="col-2">
                <p></p>
                <input type="date" id="start" name="news_start"
                       value="2020-07-01"
                       min="2018-01-01" max="2021-12-31">
                <p>Start date</p>
            </div>
            <div class="col-2">
                <p></p>
                <input type="date" id="finish" name="news_finish"
                       value="2020-07-01"
                       min="2018-01-01" max="2021-12-31">
                <p>Finish date</p>
            </div>
            <div class="col-2">
                <p></p>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>

</div>

<section class="main-section">

    <div class="tab" th:each="article : ${articles.content}">
        <a class="tab-link-wrapper" th:href="${article.articleLink}">
            <img class="tab-image main-page-image" th:src="${article.imageLink}" alt="404">
            <div class="tab-content">
                <p class="tab-title" th:text="${article.header}"></p>
                <p class="tab-description" th:text="${article.getContent()}"></p>
                <p class="tab-tags"><a class="tab-link" th:text="${article.site}"></a></p>
                <p class="tab-date" th:text="${article.getDate()}"></p>
            </div>
        </a>


            <!-- Sharingbutton LinkedIn -->
            <a class="resp-sharing-button__link"
               th:href="@{https://www.linkedin.com/shareArticle(url= ${article.articleLink})}" target="_blank"
               rel="noopener" aria-label="">
                <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                        <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                             enable-background="new 0 0 24 24" xml:space="preserve">
                         <path d="M12,0C5.383,0,0,5.383,0,12s5.383,12,12,12s12-5.383,12-12S18.617,0,12,0z M9.5,16.5h-2v-7h2V16.5z M8.5,7.5 c-0.553,0-1-0.448-1-1c0-0.552,0.447-1,1-1s1,0.448,1,1C9.5,7.052,9.053,7.5,8.5,7.5z M18.5,16.5h-3V13c0-0.277-0.225-0.5-0.5-0.5 c-0.276,0-0.5,0.223-0.5,0.5v3.5h-3c0,0,0.031-6.478,0-7h3v0.835c0,0,0.457-0.753,1.707-0.753c1.55,0,2.293,1.12,2.293,3.296V16.5z"/>
                        </svg>
                             </div>
                </div>
            </a>

            <!-- Sharingbutton WhatsApp -->
            <a class="resp-sharing-button__link"
               th:href="@{https://web.whatsapp.com/send(text= ${article.articleLink})}" target="_blank" rel="noopener"
               aria-label="">
                <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
                            <path d="m12 0c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm0 3.8c2.2 0 4.2 0.9 5.7 2.4 1.6 1.5 2.4 3.6 2.5 5.7 0 4.5-3.6 8.1-8.1 8.1-1.4 0-2.7-0.4-3.9-1l-4.4 1.1 1.2-4.2c-0.8-1.2-1.1-2.6-1.1-4 0-4.5 3.6-8.1 8.1-8.1zm0.1 1.5c-3.7 0-6.7 3-6.7 6.7 0 1.3 0.3 2.5 1 3.6l0.1 0.3-0.7 2.4 2.5-0.7 0.3 0.099c1 0.7 2.2 1 3.4 1 3.7 0 6.8-3 6.9-6.6 0-1.8-0.7-3.5-2-4.8s-3-2-4.8-2zm-3 2.9h0.4c0.2 0 0.4-0.099 0.5 0.3s0.5 1.5 0.6 1.7 0.1 0.2 0 0.3-0.1 0.2-0.2 0.3l-0.3 0.3c-0.1 0.1-0.2 0.2-0.1 0.4 0.2 0.2 0.6 0.9 1.2 1.4 0.7 0.7 1.4 0.9 1.6 1 0.2 0 0.3 0.001 0.4-0.099s0.5-0.6 0.6-0.8c0.2-0.2 0.3-0.2 0.5-0.1l1.4 0.7c0.2 0.1 0.3 0.2 0.5 0.3 0 0.1 0.1 0.5-0.099 1s-1 0.9-1.4 1c-0.3 0-0.8 0.001-1.3-0.099-0.3-0.1-0.7-0.2-1.2-0.4-2.1-0.9-3.4-3-3.5-3.1s-0.8-1.1-0.8-2.1c0-1 0.5-1.5 0.7-1.7s0.4-0.3 0.5-0.3z"/>
                        </svg>
                    </div>
                </div>
            </a>


            <!-- Sharingbutton Facebook -->
            <a class="resp-sharing-button__link"
               th:href="@{https://facebook.com/sharer/sharer.php(u= ${article.articleLink})}" target="_blank"
               rel="noopener" aria-label="">
                <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm3.6 11.5h-2.1v7h-3v-7h-2v-2h2V8.34c0-1.1.35-2.82 2.65-2.82h2.35v2.3h-1.4c-.25 0-.6.13-.6.66V9.5h2.34l-.24 2z"/>
                        </svg>
                    </div>
                </div>
            </a>

            <!-- Sharingbutton Twitter -->
            <a class="resp-sharing-button__link"
               th:href="@{https://twitter.com/intent/tweet(url= ${article.articleLink})}" target="_blank" rel="noopener"
               aria-label="">
                <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm5.26 9.38v.34c0 3.48-2.64 7.5-7.48 7.5-1.48 0-2.87-.44-4.03-1.2 1.37.17 2.77-.2 3.9-1.08-1.16-.02-2.13-.78-2.46-1.83.38.1.8.07 1.17-.03-1.2-.24-2.1-1.3-2.1-2.58v-.05c.35.2.75.32 1.18.33-.7-.47-1.17-1.28-1.17-2.2 0-.47.13-.92.36-1.3C7.94 8.85 9.88 9.9 12.06 10c-.04-.2-.06-.4-.06-.6 0-1.46 1.18-2.63 2.63-2.63.76 0 1.44.3 1.92.82.6-.12 1.95-.27 1.95-.27-.35.53-.72 1.66-1.24 2.04z"/>
                        </svg>
                    </div>
                </div>
            </a>


            <!-- Sharingbutton E-Mail -->
            <a class="resp-sharing-button__link" th:href="'mailto:'+'?body=' + ${article.articleLink}" target="_self"
               rel="noopener" aria-label="">
                <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm8 16c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2V8c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2v8z"/>
                            <path d="M17.9 8.18c-.2-.2-.5-.24-.72-.07L12 12.38 6.82 8.1c-.22-.16-.53-.13-.7.08s-.15.53.06.7l3.62 2.97-3.57 2.23c-.23.14-.3.45-.15.7.1.14.25.22.42.22.1 0 .18-.02.27-.08l3.85-2.4 1.06.87c.1.04.2.1.32.1s.23-.06.32-.1l1.06-.9 3.86 2.4c.08.06.17.1.26.1.17 0 .33-.1.42-.25.15-.24.08-.55-.15-.7l-3.57-2.22 3.62-2.96c.2-.2.24-.5.07-.72z"/>
                        </svg>
                    </div>
                </div>
            </a>

            <button class="myBtn"><img class="vector" src="/img/Vector.png"></button>
            <div class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <input type="text" th:value="${article.articleLink}" th:id="${article.articleLink}">

                    <!-- The button used to copy the text -->
                    <button th:data-id="${article.articleLink}" onclick="myFunction(this.getAttribute('data-id'))">Copy
                        URL
                    </button>
                </div>

            </div>

            <script>
                // Get the modal
                var modal = document.getElementsByClassName('modal');

                // Get the button that opens the modal
                var btn = document.getElementsByClassName("myBtn");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close");


                for (let i = 0; i < btn.length; i++) {
                    btn[i].onclick = function () {
                        modal[i].style.display = "block";
                    }
                }
                for (let i = 0; i < span.length; i++) {
                    span[i].onclick = function () {
                        modal[i].style.display = "none";
                    }
                }

                function myFunction(text) {
                    /* Get the text field */
                    var copyText = document.getElementById(text);
                    for (let i = 0; i < 100; i++) {
                        /* Select the text field */
                        copyText.select();
                        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

                        /* Copy the text inside the text field */
                        document.execCommand("copy");

                    }
                }

                //     // When the user clicks anywhere outside of the modal, close it
                // for (let i = 0; i < modalid.length; i++) {
                //     window.onclick = function(event) {
                //         if (event.target == modalid) {
                //             modalid.style.display = "none";
                //         }
                //     }
            </script>

    </div>

</section>


<div th:if="${articles.totalPages > 0}" class="pagination-div  main-section">


    <div class="inlining">
        <span th:if="${articles.hasPrevious()}">
               <a th:href="@{/news_feed/(page=${articles.number-1},size=${articles.size}, keyword=${keyword}, news_start=${news_start}, news_finish=${news_finish})}">Previous</a>
        </span>
    </div>

    <div th:if="${articles.totalPages < 10}" class="inlining">
        <th:block th:each="i: ${#numbers.sequence(0, articles.totalPages -1)}">
            <span th:if="${articles.number == i}" class="selected">[[${i+1}]]</span>
            <span th:unless="${articles.number == i}">
             <a th:href="@{/news_feed/(page=${i},size=${articles.size},keyword=${keyword}, news_start=${news_start}, news_finish=${news_finish})}">[[${i+1}]]</a>
        </span>
        </th:block>
    </div>
    <div th:unless="${articles.totalPages < 10}" class="inlining">
        <th:block th:each="c: ${custompager}">
            <span th:if="${articles.number == c-1}" class="selected" th:text="${c}"></span>
            <span th:unless="${articles.number == c-1}" th:switch="${c==-1}">
                    <a th:case="${true}">...</a>
                    <a th:case="*"
                       th:href="@{/news_feed/(page=${c}-1,size=${articles.size},keyword=${keyword}, news_start=${news_start}, news_finish=${news_finish})}">[[${c}]]</a>
            </span>

        </th:block>
    </div>
    <div class="inlining">
         <span th:if="${articles.hasNext()}">
             <a th:href="@{/news_feed/(page=${articles.number+1},size=${articles.size},keyword=${keyword}, news_start=${news_start}, news_finish=${news_finish})}">Next</a>
        </span>
    </div>
    <div class="inlining">

        <form th:action="@{/news_feed/(page=${num},size=${articles.size},keyword=${keyword}, news_start=${news_start}, news_finish=${news_finish})}"
              method="get">
            <span>/</span>
            <div class="page-input">
                <input type="number" value="*{num}" th:name="num" placeholder="Page">
                <input type="hidden" name="size" th:value="${articles.size}">
                <input type="hidden" name="keyword" th:value="${keyword}">
                <input type="hidden" name="news_start" th:value="${news_start}">
                <input type="hidden" name="news_finish" th:value="${news_finish}">
            </div>
        </form>

    </div>


</div>


<div th:if="${articles.totalPages > 0}" class="pagination-div justify-content-center main-section">
    <p>Items per page: </p>
    <th:block th:each="s : ${new int[]{5,10,25,50} }">

        <span th:if="${articles.size == s}" class="selected">[[${s}]]</span>
        <span th:unless="${articles.size == s}">
             <a th:text="${s}"
                th:href="@{/news_feed/(page=${articles.number},size=${s},keyword=${keyword}, news_start=${news_start}, news_finish=${news_finish})}">[[${s}]]</a>
         </span>
    </th:block>
</div>


</body>
</html>