<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tinder: tab</title>
    <link rel="stylesheet" href="/css/open-tab.css">
</head>
<body>
<header class="main-header">
    <a href="/main-page.html" class="main-header-logo"><img src="/img/Group 12.png" alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <input type="search" class="main-header-search" placeholder="Search">
            <img src="/img/search-icon.svg" alt="Search Icon">
        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username">Sample User</span>
            </div>
            <img class="main-header-user-icon" src="/img/user-icon-with-background.svg" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><img class="hidden-accordion-item-image" src="/img/user-icon-gray.svg" alt="User Icon"><a href="/user-profile.html" class="hidden-accordion-item-link">Profile</a></li>
                    <li class="hidden-accordion-item"><img src="/img/favourite-icon.svg" alt="Favourite Icon"><a href="#" class="hidden-accordion-item-link">Favourites</a></li>
                    <li class="hidden-accordion-item"><img src="/img/message-icon.svg" alt="Message Icon"><a href="#" class="hidden-accordion-item-link">Chat</a></li>
                    <li class="hidden-accordion-item"><img src="/img/log-out-icon.svg" alt="Log Out Icon"><a href="/index.html" class="hidden-accordion-item-link">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="tab-section">
    <img class="main-image" src="/img/1_wW2OJ13gVZWrUcl4V0WAgg%201.png">
    <img class="background-drawing" src="/img/Group.png">
    <div class="text-box">
        <p class="text-box-title">According to Steve Jobs, this one thing separates the doers from the dreamers</p>
        <p class="main-gap">“Most people never pick up the phone. Most people never call and ask. And that’s what separates sometimes the people who do things from those who just dream about them. You gotta act. You gotta be willing to fail. You gotta be willing to crash a burn. With people on the phone or starting a company, if you’re afraid you’ll fail, you won’t get very far.”</p>
        <p class="add-gap">When Steve Jobs was 12-years-old he wanted to build a frequency counter, but he was lacking some of the necessary parts to complete the project.</p>
        <p class="add-gap">Instead of giving up, however, he did the only thing he could think of: he looked Bill Hewlett’s number up in the phonebook and he gave him a call.</p>
        <p class="add-gap">To Steve’s surprise, Bill, the co-founder of Hewlett Packard, personally answered the phone. After Steve explained who he was and what he was up to, Bill agreed to give him some spare parts for his project. Not only that, but he also gave Steve a summer job at HP putting nuts and bolts together on the assembly line that built frequency counters.</p>
        <p class="add-gap">While sharing this story in 1994 with the Silicon Valley Historical Association, Jobs stressed the importance of asking for what you want:
            If you don’t ask, you won’t get
            Throughout my career, I’ve worked with successful entrepreneurs, coaches, and creatives. These people are scattered all over the globe and they come in many different shapes and sizes.</p>
        <p class="add-gap">However, like Jobs, the one characteristic they all have in common is they know that no one is coming to save them and it is up to them — and only them — to go after what they want.
            When most people think about taking a chance, they paralyze themselves thinking about all the negative things that could happen.</p>
        <p class="add-gap">They allow their self-talk to be flooded with “What if” statements like, “What if I get rejected?” “What if they laugh at me?” and “What if I’m not ready?”
            The people who make an impact, however, silence their doubts by focusing on the potential positive outcomes: “What if they say yes?” “What if they know a friend who can help me?” “What if this is my big break?”</p>
        <p class="add-gap">They do this because they know the old adage “Good things come to those who wait,” is out of date.
            The people who get what they want have the balls to ask for what they want.</p>
    </div>
</section>

</body>
</html>