<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }

    </style>
</head>
<body>
<h1>My Thymeleaf Error Page</h1>
<table>

    <tr>
        <td>Error</td>
        <td>UserIdNotFoundException</td>
    </tr>

    <tr>
        <td>Click on icon to return to login page ---> </td>
        <td>
            <a href="/login" class="main-header-logo"><img src="/img/Group%2012.png" alt="IBA Tech Academy"></a>
        </td>
    </tr>

</table>
</body>
</html>